<h1 class="page-header down">Details about material</h1>

<md-list ng-cloak>

  <md-list-item class="secondary-button-padding header">
    <p style="width:25%">material number</p>
    <p style="width:25%">amount</p>
    <p style="width:25%">rejects</p>
    <p style="width:25%">average production time</p>
    <md-divider></md-divider>

  </md-list-item>

  <md-divider></md-divider>


  <md-list-item class="secondary-button-padding" ng-repeat="x in materialdata | orderBy : 'number'">
    <p style="width:25%">{{ x.number }}</p>
    <p style="width:25%">{{ x.amount }}</p>
    <p style="width:25%">{{ x.rejects }}</p>
    <p style="width:25%">{{ x.prodtime }}</p>
    <md-divider></md-divider>

  </md-list-item>

</md-list>



<!--
<table>
  <tr ng-repeat="x in materialdata | orderBy : 'number'">
    <td>{{ x.number }}</td>
    <td>{{ x.amount }}</td>
    <td>{{ x.rejects }}</td>
    <td>{{ x.prodtime }}</td>

  </tr>
</table>
-->
