<h1 class="page-header down">Material Seite</h1>

<md-list ng-cloak>

  <md-divider></md-divider>

  <md-list-item class="secondary-button-padding">
    <p>item 1</p>
    <md-button class="md-secondary" ng-click="doSecondaryAction($event)">More Info</md-button>
  </md-list-item>

  <md-divider></md-divider>

  <md-list-item class="secondary-button-padding">
    <p>item 2</p>
    <md-button class="md-secondary" ng-click="doSecondaryAction($event)">More Info</md-button>
  </md-list-item>

  <md-divider></md-divider>

  <md-list-item class="secondary-button-padding">
    <p>item 3</p>
    <md-button class="md-secondary" ng-click="doSecondaryAction($event)">More Info</md-button>
  </md-list-item>

  <md-divider></md-divider>

</md-list>

<div style="background-color:red;height:200;;width:220"></div>
